body {
    background-color: #E6ECF0;
}

h1 {
    color: black;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cell {
    /* background-color: rgba(211, 211, 211, .5); */
    background-color: #FFFFFF;
    
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    
    flex-basis: 40%;
}

.content {
    margin: 0;
    position: absolute;
    top: 50%;              
    left: 50%;
    transform: translate(-50%, -50%); 
    font-size: 2em;
    display: block;
}

.content:hover {
    
}

.cell:hover {
    background-color: #F5F8FA;
}

.content_footer_left {
    position: absolute;
    top: 100%;
    left: 3%;
    transform: translate(0, -100%);    
}

.content_footer_right {
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-115%, -100%);
}
.new {
    margin: 0;
    position: absolute;               
    top: 50%;              
    left: 50%;
    transform: translate(-50%, -50%); 
    font-size: 4em;
}

.cell:after {
    content: '';
    display: block;
    padding-bottom: 100%;
}
