{% extends "flexfeed_template.html" %}
{% block discovery_active %}class='active'{% endblock %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/discovery.css' %}">
{% endblock %}

{% block content %}
<div class="col-sm-10 col-sm-offset-1">
    <h1 class="main-title"> Trending Groups </h1>
</div>

<div class="col-sm-10 col-sm-offset-1">
    <div class='grid'>


{% for group in all_groups %}

    {% if forloop.counter is 1 %}
    <div class='cell cell_blue'>

    {% elif forloop.counter is 2 %}
    <div class='cell cell_red'>

    {% elif forloop.counter is 3 %}
    <div class='cell cell_purple'>

    {% elif forloop.counter is 4 %}
    <div class='cell cell_orange'>

    {% elif forloop.counter is 5 %}
    <div class='cell cell_green'>

    {% endif %}

    <div class='cell_title' style="padding-bottom: 2vh; font-weight: bold">
        {{group.name}}
    </div>

    <div class='subscribe glyphicon glyphicon-plus-sign'>
        <div style="font-size: 14px; text-align: center">

            {% for member in group.members.all %}
            {{member.name}}
            <br>
            {% endfor %}

        </div>
    </div>

    <div class='cell_footer'>
        Subscribers: {{group.subscribers}}
    </div>

</div>
{% endfor %}
</div>
</div>



<div class="col-sm-10 col-sm-offset-1">
    <h1 class="main-title"> Groups You Might Like </h1>
</div>

<div class="col-sm-10 col-sm-offset-1">
    <div class='grid'>


{% for group in all_groups %}

    {% if forloop.counter is 1 %}
    <div class='cell cell_blue'>

    {% elif forloop.counter is 2 %}
    <div class='cell cell_red'>

    {% elif forloop.counter is 3 %}
    <div class='cell cell_purple'>

    {% elif forloop.counter is 4 %}
    <div class='cell cell_orange'>

    {% elif forloop.counter is 5 %}
    <div class='cell cell_green'>

    {% endif %}

    <div class='cell_title' style="padding-bottom: 2vh; font-weight: bold">
        {{group.name}}
    </div>

    <div class='subscribe glyphicon glyphicon-plus-sign'>
        <div style="font-size: 14px; text-align: center">

            {% for member in group.members.all %}
            {{member.name}}
            <br>
            {% endfor %}

        </div>
    </div>

    <div class='cell_footer'>
        Subscribers: {{group.subscribers}}
    </div>

</div>
{% endfor %}
</div>
</div>


{% endblock %}
