{% extends "flexfeed_template.html" %}
{% load static%}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/editgroups.css' %}">
{% endblock %}

{% block content %}

    <h2>Edit Groups</h2>

    <input id="search" autocomplete="on" type="text" class="form-control" name="searchpersongroup" placeholder="Search for Person or Group" required autofocus="" />
    <div id = "members" style="margin-top: 1vh;">
        <ul>
          {% for member in all_members %}
            <li class="member"><h6 class="X">X</h6><h5>{{member.name}}</h5>  <img src={{member.profile_picture}}></li>
          {% endfor %}
        </ul>
    </div>
    <div class="addGroup" style="padding-bottom:60px;">
        <input id="groupName" type="text" class="form-control" name="searchgroup" placeholder="Enter Group Name"/>
        <button type="button">Add Group</button>
    </div>

    <div id = "groups" style="padding:0px;">
        <ul>
          {% for group in all_groups %}
            <li class="group" style="padding:0px;"><h4>{{group.name}}</h4><img src={{group.picture}}></li>
          {% endfor %}
        </ul>
    </div>
{% endblock %}
