{% extends "flexfeed_template.html" %}
{% load static%}

{% block content %}

    <h2>Edit Groups</h2>

    <input id="search" autocomplete="on" type="text" class="form-control" name="searchpersongroup" placeholder="Search for Person or Group" required autofocus="" />
    <div id = "members" style="margin-top: 1vh;">
        <ul>
            <li class="member"><h6 class="X">X</h6><h5>David Barrington</h5>  <im src="{% 'Individuals/dBarrington.jpg' %}"></li>
            <li class="member"><h6 class="X">X</h6><h5>Tim Richards</h5> <im src="{% 'Individuals/tRichards.jpg' %}"></li>
            <li class="member"><h6 class="X">X</h6><h5>Arjun Guha</h5>  <im src="{% 'Individuals/arjun-guha.jpg' %}"></li>
            <li class="member"><h6 class="X">X</h6><h5>Kumble Subbaswamy</h5> <im src="{% 'Individuals/chancellor.jpg' %}"></li>
            <li class="member"><h6 class="X">X</h6><h5>Neil Immerman</h5>  <im src="{% 'Individuals/Neil%20Immerman.jpg' %}"></li>
            <li class="member"><h6 class="X">X</h6><h5>Ramesh Sitaraman</h5> <im src="{% 'Individuals/Ramesh.jpg' %}"></li>
            <li class="member"><h6 class="X">X</h6><h5>David Barrington</h5>  <im src="{% 'Individuals/dBarrington.jpg' %}"></li>
            <li class="member"><h6 class="X">X</h6><h5>Tim Richards</h5> <im src="{% 'Individuals/tRichards.jpg' %}"></li>
            <li class="member"><h6 class="X">X</h6><h5>Arjun Guha</h5>  <im src="{% 'Individuals/arjun-guha.jpg' %}"></li>
            <li class="member"><h6 class="X">X</h6><h5>Kumble Subbaswamy</h5> <im src="{% 'Individuals/chancellor.jpg' %}"></li>
            <li class="member"><h6 class="X">X</h6><h5>Neil Immerman</h5>  <im src="{% 'Individuals/Neil%20Immerman.jpg' %}"></li>
            <li class="member"><h6 class="X">X</h6><h5>Ramesh Sitaraman</h5> <im src="{% 'Individuals/Ramesh.jpg' %}"></li>
        </ul>
    </div>
    <div class="addGroup">
        <input id="groupName" type="text" class="form-control" name="searchgroup" placeholder="Enter Group Name"/>
        <button type="button">Add Group</button>
    </div>
    <div class= "People"></div>

    <div id = "groups">
        <ul>
            <li class="group"><h4>Teachers</h4><im src="{% 'Individuals/UMass.jpg' %}"></li>
            <li class="group"><h4>Athletics</h4><im src="{% 'Individuals/Athletics.jpg' %}"></li>
            <li class="group"><h4>Automobiles</h4><im src="{% 'Individuals/Automobiles.jpg' %}"></li>
            <li class="group"><h4>Technology</h4><im src="{% 'Individuals/Tech.jpg' %}"></li>
            <li class="group"><h4>Artists</h4><im src="{% 'Individuals/Artists.jpg' %}"></li>
            <li class="group"><h4>The Homies</h4><im src="{% 'Individuals/Friends.jpg' %}"></li>
            <li class="group"><h4>Add New Groups</h4><im src="{% 'Individuals/plus.jpg' %}' %}"></li>
        </ul>
    </div>
{% endblock %}
