{% extends "flexfeed_template.html" %} {% load static%} {% block groups_active %}class='active'{% endblock %} {% block extra_css %}
{% block title %}Edit Groups{% endblock %}
<link rel="stylesheet" type="text/css" href="{% static 'css/editgroups.css' %}"> {% endblock %} {% block content %}


<center>
  <h1 style="font-size:80px;">Edit Groups</h1>
</center>
<!-- <input id="search" autocomplete="on" type="text" class="form-control" name="searchpersongroup" placeholder="Search for Person or Group" required autofocus=""> -->
<div>
  <div id="groups" style="padding:0px;">
    <ul>
      {% for group in all_user_groups %}
      <a>
        <li class="group">
          <a href=" {% url 'edit_group' group.id %} ">
            <div class="attribute_block">
              <img class="attr_img" src={{group.picture}}>
              <div class="attr_name">
                <h4>{{group.name}}</h4>
              </div>
              <a class="del" href=" {% url 'delete' group.id %} "><img src="{% static 'Icons/delete.png' %}"></a>
            </div>
          </a>
        </li>
      </a>
      {% endfor %}
      <li class="group">
        <a href=" {% url 'edit_group' -1 %} ">
          <div class="attribute_block">
            <img class="attr_img" src="{% static 'Icons/createNew.png' %}">
            <div class="attr_name">
              <h4>Click to make new Group</h4>
            </div>
          </div>
        </a>
      </li>
      </a>
    </ul>
  </div>
  <div class="verticalLine">

  </div>


  <div id="members">
    <div class="edit_toolbar">
      <form action="" method="post">
          {% csrf_token %}
          {% for field in form %}
            {% if field.label == "group_name" %}
              <input value="{{group_instance.name}}" placeholder="Enter group name" for={{field}}
            {% elif field.label == "picture"%}
              <input value="{{group_instance.picture}}" placeholder="Enter img URL (http)" for={{field}}
            {% elif field.label == "query"%}
              {{field}}
            {% endif %}
          {% endfor %}
          <button type="submit" value="Submit"><img src="{% static 'Icons/save.png'%}"></button>
      </form>
    </div>
    <ul>
      {% for member in group_members %}
      <a>
        <li class="member">
          <div class="attribute_block">
            <img class="attr_img" src={{member.profile_picture}}>
            <div class="attr_name">
              <h4>{{member.name}}</h4>
            </div>
            <a class="del" href=" {% url 'delete-member' group_instance.id member.id %} "><img src="{% static 'Icons/delete.png' %}"></a>
          </div>
        </li>
      </a>
      {% endfor %}
      {% if no_group_selected %}
        <center>
          <h1>Select group to edit!</h1>
        </center>
      {% else %}
        <!-- <a>
          <li class="member">
            <div class="attribute_block">
              <img class="attr_img" src="{% static 'Icons/createNew.png' %}">
              <div class="attr_name">
                <h4>Click to add to Members</h4>
              </div>
            </div>
          </li>
        </a> -->
      {% endif %}
    </ul>
  </div>
</div>
{% endblock %}
