<!DOCTYPE html>
<html lang='en'>

<head>
   <title>{% block title %}Home{% endblock %}</title>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript">
    </script> <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    {% block extra_css %}{% endblock %}


</head>

<body>
  {%block nav_bar%}
  <nav class='navbar navbar-inverse navbar-fixed-top' id='navbar' style="margin: 0;border-bottom: 5px solid black">
      <div class='container-fluid remove-left-padding'>
          <ul class='nav navbar-nav'>
              <li {% block index_active %}{% endblock %}><a href="{% url 'index' %}">Home</a></li>
              <li {% block discovery_active %}{% endblock %}><a href="{% url 'discover' %}">Discover</a></li>
              <li {% block groups_active %}{% endblock %}><a href="{% url 'groups' %}">Groups</a></li>
              <li {% block settings_active %}{% endblock %}><a href="{% url 'settings' %}">Settings</a></li>
          </ul>
          <div class='navbar-header'>
              <a class='navbar-brand' style="font-size:250%;" href="{% url 'index' %}">FlexFeed</a>
          </div>
          <ul class='nav navbar-nav navbar-right'>
              <li style="padding-top:5px;"><img style="width:40px; height40px; border-radius: 50%;" src="{{user.profile.profile_picture}}"></li>
              <li><a href="{% url 'settings' %}">{{user.get_full_name}}</a></li>
              <li><a href="{% url 'logout' %}">Log Out</a></li>
          </ul>
      </div>
  </nav>
  {%endblock%}

  <div style="padding-top:55px">
    {% block content %} <!-- Each of you will have your custom code in here -->{% endblock %}
  </div>


</body>
</html>
