{% extends "flexfeed_template.html" %}
{% load static%}

{% block content %}
  <div class="stockmenu">
    {% for stock in all_Stocks %}
      <div> {{ stock.company }} <br> {{ stock.value }}
    {% if stock.trend %} <img src="{% static 'Icons/green.png' %}"></div>
    {% else %} <img src="{% static 'Icons/red.png' %}"></div>
    {% endif %}
    {% endfor %}
  </div>

  <row>
      <!-- {% block userDropdown %} THIS IS NOT NEEDED -->
      <div class='col-md-3 group'>
        <div class='group-body'>
          <h3>{{all_Users.0}}</h3>
          <p><strong> Current Group: </strong> {{all_Groups.0}} </p>
          <div class="container">
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                Groups
              <span class="caret"></span>
              </button>

              <ul class="dropdown-menu">
                {% for group in all_Groups %}
                <li><a href="#">{{group.name}}</a></li>
                {% endfor %}
              </ul>

              </div>
          </div>
        </div>
      </div>

      <div class='col-md-6 post-column' id = "first">

        {% for post in IG_Posts %}
        <div class='post instagram'>
          <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:100%; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);">
            <div style="padding:8px;">
              <p>
                <a href={{post.link}} style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank"></a>
              </p>
            </div>
          </blockquote>
          <script async defer src="http://platform.instagram.com/en_US/embeds.js"></script>
        </div>
        {% endfor %}

        {% for post in TWT_Posts %}
        <div class='post twitter'>
          <div class='twitter-frame'>
            <blockquote class="twitter-tweet" data-lang="en" align="center">
              <a href={{post.link}}></a>
            </blockquote>
          </div>
        </div>
        <script async src="http://platform.twitter.com/widgets.js" charset="utf-8"></script>
        {% endfor %}


        {% for post in FB_Posts %}
        <div class='post facebook' style="text-align: center; width: 100%;">
          <iframe src={{post.link}} width="618" height="664" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="false"></iframe>
        </div>
        {% endfor %}
      </div>
      <!-- {% endblock %}  THIS IS NOT NEEDED-->

  </row>
{% endblock %}
