<!DOCTYPE html>
<html lang='en'>

<head>
   {% block title %}{% endblock %}
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    {% block extra_css %}{% endblock %}


</head>



<body>

  <div class="container-fluid" >
  <div class="jumbotron" style="background: #77b0b7; height: 25vh; text-align: center;">
    <h1 style="margin: 0; letter-spacing: 2vh; font-size: 10vh; padding:0"> <img src="{% static 'Icons/leftflex.png' %}" style="width:17vh; height:15vh; margin: 0; padding: 0">   FLEXFEED   <img src="{% static 'Icons/rightflex.png' %}" style="width:17vh; height: 15vh; margin: 0"></h1>
  </div>
  </div>


  <div >
    {% block content %} <!-- Each of you will have your custom code in here -->{% endblock %}
  </div>


</body>
</html>