body {
    background-color: #E6ECF0;
}

h5 {
    margin-bottom: 50px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cell {
    background-color: #FFFFFF;
    
    border-radius: 25%;
    
    overflow: hidden;
    position: relative;
    
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    
    flex-basis: 30%;
}

.cell_blue {
    background-color: rgba(83, 168, 212, .5);
}

.cell_blue:hover {
    background-color: rgba(83, 168, 212, 1);
}

.cell_purple {
    background-color: rgba(185, 127, 201, .5);
}

.cell_purple:hover {
    background-color: rgba(185, 127, 201, 1);
}

.cell_red {
    background-color: rgba(219, 111, 89, .5);
}

.cell_red:hover {
    background-color: rgba(219, 111, 89, 1);
}

.cell_orange {
    background-color: rgba(242, 163, 80, .5);
}

.cell_orange:hover {
    background-color: rgba(242, 163, 80, 1);
}

.cell_green {
    background-color: rgba(107, 194, 151, .5);
}

.cell_green:hover {
    background-color: rgba(107, 194, 151, 1);
}

.cell_title {
    margin: 0;
    position: relative;
    top: 20%;              
    left: 50%;
    transform: translate(-50%, -50%); 
    font-size: 2em;
    display: block;
    text-align: center;

}

.cell_title:hover {
    
}

.cell_subtitle {
    margin: 0;
    position: absolute;
    top: 30%;              
    left: 50%;
    transform: translate(-50%, -50%); 
    font-size: 1.4em;
    display: block;
    text-align: center;
}

.cell_footer {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -150%);    
}

.subscribe {
    margin: 0;
    position: absolute;               
    top: 50%;              
    left: 50%;
    transform: translate(-50%, -50%); 
    font-size: 4em;
}

.subscribe:hover {
    color: white;
}

.cell:after {
    content: '';
    display: block;
    padding-bottom: 100%;
}