/*#search {
  position: fixed;
  top: 25%;
  left: 39.5%;
  transform: translate(-50%, -50%);
  size: 40;
  height: 40px;
  border-radius: 10px;
  width: 400px;
}

.addGroup {
  position: fixed;
  top: 65%;
  left: 45%;
  transform: translate(-50%, -50%);
  width: 550px;
}

#groupName {
  size: 40;
  height: 40px;
  border-radius: 10px;
  width: 400px;
  display: inline-block;
}

button {
  border-radius: 5px;
  background-color: #85adad;
  display: inline-block;
  margin-left: 10px;
}*/

.edit_toolbar {
  position: relative;
  margin:  2% 6% 2% 8%
}
.edit_toolbar input {
  height: 40px;
  min-width: 30%;
  background-color: transparent;
  color: gray;
  font-size: 25px;
  border: none;
  outline: none;
  border-bottom: 3px solid #333333;
  font-family: sans-serif;
}
.edit_toolbar button {
  right: 10%;
  position: absolute;
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 20px;
  height:100%;
}
.edit_toolbar img {
  background-color: transparent;
  border-radius: 10px;
  height: 100%;
  object-fit: contain;
}

.edit_toolbar img:hover {
  background-color: rgba(0, 0, 0, 1);
  opacity: .6;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  transition: opacity 0.6s;
}




/*Group styling*/
#groups {
  position:fixed;
  float: left;
  border-right: medium ridge grey;
  white-space: initial;
  width: 50%;
  height: 75%;
}
.group {
  width: 175px;
  height: 175px;
  display: inline-block;
  position: relative;
  padding: 0;
  margin: 15px;
}
/*Member styling*/
#members {
  float:right;
  white-space: initial;
  width: 50%;
  height: 75%;
}
.member {
  white-space: initial;
  overflow: scroll;
  width: 125px;
  height: 125px;
  display: inline-block;
  position: relative;
  padding: 0;
  margin: 15px;
}

.attribute_block {
  width:100%;
  height:100%;
  position: absolute;
}
.attr_img {
  width:100%;
  height:100%;
  border-radius: 10px;
  position: absolute;
  /*display: block;*/
}
a {
  cursor: pointer;
}
.attr_name {
  /*text color*/
  color:white;
  /*Section fill*/
  position:absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  /*Change shade*/
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
.attr_name h4{
  position:absolute;
  top:40%;
  left:40%;
  transform: translateX(-50%) translateY(-50%);
}
.attr_name img{
  height:20px;
  width:20px;
  filter: invert(100%);
  font-size:10px;
  position:absolute;
  top:5%;
  right:5%;
}
.attr_name:hover {
  opacity: 1;
}
