#search {
  position: fixed;
  top: 25%;
  left: 39.5%;
  transform: translate(-50%, -50%);
  size: 40;
  height: 40px;
  border-radius: 10px;
  width: 400px;
}

.addGroup {
  position: fixed;
  top: 65%;
  left: 45%;
  transform: translate(-50%, -50%);
  width: 550px;
}

#groupName {
  size: 40;
  height: 40px;
  border-radius: 10px;
  width: 400px;
  display: inline-block;
}

button {
  border-radius: 5px;
  background-color: #85adad;
  display: inline-block;
  margin-left: 10px;
}

#members {
  float:right;
  overflow:visible;

  width: 50%;
  height: 200px;
}


/*Group styling*/

#groups {
  float: left;
  position: fixed;
  border-right: thin solid black;
  white-space: initial;
  width: 50%;
  height: 75%;
}

/*Group elements*/

.group {
  width: 175px;
  height: 175px;
  display: inline-block;
  position: relative;
  padding: 0;
  margin: 15px;
}
.member {
  width: 125px;
  height: 125px;
  display: inline-block;
  position: relative;
  padding: 0;
  margin: 15px;
}

.attribute_block {
  width:100%;
  height:100%;
  position: absolute;
}
.attr_img {
  width:100%;
  height:100%;
  border-radius: 10px;
  position: absolute;
  /*display: block;*/
}
.attr_name {
  /*text color*/
  color:white;
  position:absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  /*Change shade*/
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  transition: opacity 0.6s;

}
.attr_name h4{
  position:absolute;
  top:50%;
  left:50%;
  margin:0px;
  transform: translateX(-50%) translateY(-50%);
}
.attr_name:hover {
  opacity: 1;
}

.verticalLine {
  border-left: thick solid #ff0000;
}
