html {
}

body {
    background-color: #E6ECF0;
}

row {
    margin-top: 0;
    margin-right: 0;
}

#navbar {
    border-radius: 0;
    border: 1px solid gray;
    margin: 0px auto;
    font-size: 2vh;
    background-color: gray;
    box-shadow: 0 2px 1px -1px gray;
    padding-bottom: 0;
}

.remove-left-padding {
    padding-left: 0px;
}

.padding-zero {
    margin-right: 0;
    margin-left: 0;
}

.navbar-header {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 0;
}

.navbar-inverse .navbar-nav>li>a {
    color: #cccccc;
}

.navbar-brand {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.navbar-inverse .navbar-brand {
    font-size: xx-large;
    color: #cccccc;
}

.navbar-inverse .navbar-nav>.active>a {
    background-color: #595959;
}

/*EVERYTHING RELATED TO THE GROUP NAVIGATION SIDE PANEL*/
.group_list{
  width:22%;
  margin-top: 10px;
  position:fixed;
  left:0px;
  background-color: white;
  height: 90%;
  overflow: scroll;
}
.group_list ul
{
  margin-left: 10px;
  height:120px;
  list-style:none;
  width:94%;
  padding:0px;
}
.group_list li
{
  position:relative;
  width:100%;
  height:80px;
  padding:0px;
  padding-left:0px;
  top:3px;
  border-bottom:thin solid black;
}

.group_button{
  position:relative;
  display: block;
  height:80px;
  width:100%;
  margin-bottom: 0px;
  text-decoration:none;
  color:black;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
.group_button:hover{
  opacity:.5;
  background-color: rgba(0, 0, 0, 0.3);
}

.group_button img{
  padding-top: 3px;
  padding-bottom: 0px;
  position:relative;
  margin-right: 10%;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 15px;
  height:60px;
  width:60px;
  object-fit: cover;
}
.group_list ul
{
  margin-left: 10px;
  height:120px;
  list-style:none;
  width:94%;
  padding:0px;
}
.group_list li
{
  position:relative;
  width:100%;
  height:80px;
  padding:0px;
  padding-left:0px;
  top:3px;
  border-bottom:thin solid black;
}





/*Corey:*/

.group  {
    margin-top: 10%;
    padding: .25% .25% .25% .25%;
    height: 200px;
}

.post-column {
    padding: .25% .25% .25% .25%;
}

#first {
    margin-top: 8vh;
}

.post, .group-body {
    padding: .25% .5% .25% .5%;
    background-color: #FFFFFF;
    margin-bottom: .5%;
}

.group-body {
    height: 300px;
    width: 300px;
    border-radius: 5%;
    position: fixed;
    margin-left: 25px;
    margin-top: 1%;
    padding-left: 50px;
    background-color: white;
}

.instagram {
    background-color: #f9efd6;
}

.twitter {
    background-color: rgba(80, 180, 242, .5);
    margin-left: 15%;
    margin-right: 15%;
}

.facebook {
    background-color: rgba(59, 89, 152, 1);
}

.twitter-frame {
    padding-top: 1px;
}

.dummy {
    margin-top: 5%;
}

.stockmenu {
    position: fixed;
    padding-bottom: 0px;
}

#stockmenu {
  background-color: gray;
  padding-bottom: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

div.stockmenu {
    padding-bottom: 0px;
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 2vh auto;
    z-index: 1;
    width: 100%;
}

div.stockmenu div {
    display: inline-block;
    text-align: center;
    padding: 5px;
    border: 2px solid black;
    margin: 0px;
    width: 13vh;
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: bold;
    overflow: hidden;
}

div.stockmenu img {
    height: 8px;
    width: 8px;
}

.stockmenu div:nth-child(n) {
    background: #d6cdcb;
}

.stockmenu div:nth-child(2n) {
    background: white;
}
